* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scrollbar-width: thin;
  /* scrollbar-color: thumb track */
  scrollbar-color: #4e6884 #e5edff;
}
body {
  background-color: #e5edff;
}
html::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #e5edff;
}
html::-webkit-scrollbar-thumb {
  background: #4e6884;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "EB Garamond", serif;
  font-weight: normal;
}

p,
a {
  font-family: "Nanum Gothic", sans-serif;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#profile-img {
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  margin: 10px;
}

#header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
